---
interface Props {
  value: number;
}
const { value } = Astro.props;
---

<div class="mt-3 flex flex-col items-start w-full">
  <div class="w-full bg-gray-200 rounded-full h-6 dark:bg-gray-700 relative">
    <div
      class={`h-6 rounded-full flex items-center justify-center text-xs font-bold ${value === 100 ? "bg-emerald-600 text-white" : "bg-blue-600 text-white"}`}
      style={`width: ${value}%`}
    >
      {value === 100 ? "Completado" : `${value}%`}
    </div>
  </div>
</div>
