---
const personalImageAlt = "Joaquin Pozzo"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/joapozzo.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/joaquin-pozzo-49b31a262"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Joaquín Pozzo!
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Soy un Desarrollador Web de Córdoba, Argentina, con una <strong>sólida base en JavaScript, React, Next.js y Node.js.</strong> Aunque aún no cuento con experiencia laboral formal, he trabajado en proyectos fullstack y frontend, desarrollando landing pages, aplicaciones CRUD y plataformas web en el marco de cursos, proyectos académicos y trabajos para clientes particulares. También he participado en desarrollos en equipo utilizando metodologías ágiles como Scrum, lo que me permitió adquirir buenas prácticas de organización, comunicación y entrega iterativa. Mi enfoque principal es crear aplicaciones web funcionales, dinámicas y orientadas a ofrecer una excelente experiencia de usuario.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:pozzojoa@gmail.com">
      <MailIcon class="size-4" />
      Contactame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/joaquin-pozzo-49b31a262">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
